*{

    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;

}


body{

    font-family: "Overlock SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;


}


header{
position: sticky;
top:0;
width:100%;
display:flex;
justify-content: space-around;
align-items: center;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
background-color: white;
 z-index:10000;


}


.conjuntoTitulo{
    font-family: "Zen Tokyo Zoo", system-ui;
    font-weight: 50;
    font-style: normal;
display:flex;
flex-direction: row;
gap:20px;
}

.conjuntoTitulo img{

width: 85px;
}


nav ul{

    display:flex;
    gap:20px;

}

nav ul li{

    list-style: none;
}

nav ul li a{

    text-decoration: none;
    font-weight: bolder;
    color: rgb(0, 56, 147);
}


nav ul li a:hover{

    color: rgb(255, 223, 43);
}




#abrir{
display:none;
text-decoration: none;
border: 0px;
background-color: whitesmoke;
font-size: xx-large;

}


#cerrar{
    display: none;
width: 30px;
border: 0px;
background-color: #ffdf2b;



}

 
@media(max-width:830px){


    #nav_bar{   
        display:none;

             
    }
    
    #abrir{
        display:block;
        z-index:900;
    
    }


    #nav_bar.visible{
        display:block;
        position: fixed;
        top:120px;
        right: 10%;
        height: 250px;
        width:40%;
        background-color:#ffdf2b;
        border-radius: 5px;
        padding:20px;



    }

    #nav_bar .menu{

        flex-direction: column;
        align-items: end;
        z-index: 3000;

    }


    #cerrar{
        display: block;
     }

}


@media(max-width:600px){
    
    #nav_bar{

        width: 40%;
        z-index: 3000;

    }


    nav ul li a{
        font-size: x-small;
        z-index: 1000;
    }
 }






/* Quienes somos main */


.contenido {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    margin:70px 30px 30px 30px;
}

.contenido img {

width: 40%;
border-radius: 10px;

}


.texto-contenido h3{

color:rgb(0, 56, 147);

}

.texto-contenido p{
max-width: 300px;
text-align: justify;

}




@media(max-width:830px){

.contenido{
flex-direction: column;
z-index: 2000;

}

.contenido img {

    width: 60%;
    border-radius: 10px;
    
    }
}






/* contenido IA */

.IA{
width:100%;
max-height: 600px;
background-color:#ffdf2b;

}

.contenido-IA{

width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
color:rgb(52, 38, 0);
}





.contenido-texto-IA P{
max-width: 500px;
text-align: justify;


}



.img-IA{
padding: 10px;

}

.img-IA img{
object-fit: cover;
width: 200px;
border-radius: 7px;
box-shadow: 10px 5px rgba(120, 88, 0, 0.9);
}

@media(max-width:830px){



    .IA{
        max-height: 700px;
        z-index: 200;
    }        

    .contenido-IA{
    flex-direction: column;
    z-index: 2000;
    
    }

    .contenido-texto-IA P,
    .contenido-texto-IA h4{
        max-width: 300px;
        margin: 20px auto;
        text-align: justify;
        
        
        }

        .contenido-texto-IA h3{
            text-align: center;

        }

        
    }

/* beneficios */

.beneficios{

    width:100%;
    background-color: #f9f9f9;
    padding:100px;
}


.contenido-beneficios{

    display:flex;
    flex-direction: row;
    gap:20%;
}

.targeta{
background-color:#ffdf2b;
padding:30px 20px 20px;
text-align: center;
border-radius: 5px ;
box-shadow: 5px 5px rgba(65, 65, 65, 0.728);
}



/* resposive */

@media(max-width:1200px) {
    
.contenido-beneficios{
    flex-direction: column;
    z-index: 1000;

}

.targeta{

    margin-top: 20px;
    z-index: 2000;

}

 }


/* download main */


.download{

width:100%;
max-height: 400px;
min-height: 200px;
background-color: rgb(0, 34, 88);
align-content: center;

}


.contenido-download{
display:flex;
flex-direction:row;
justify-content: space-around;
align-items: center;

}

.explicacion-download p{

color:whitesmoke;
max-width: 400px;
text-align: justify;

}


.btn-download{
color:whitesmoke;
display:flex;
flex-direction: column;
text-align: center;
align-items: center;


}




.btn-download a{
 text-decoration: none;
 color:rgb(0, 34, 88);
 font-weight: bold;
 background-color: rgb(224, 192, 9);
 padding: 15px 30px;
 border-radius: 7px;
transition: background-color ease 0.3;
    
}

    
    
.titulo-descarga img{
    width:30%;
    
}

.btn-download a:hover{
    background-color:rgb(189, 162, 7); 
       
}




@media(max-width:830px){




    .download{
        max-height: 600px;
        z-index: 500;
    }
    .contenido-download{

        flex-direction: column;
        z-index: 500;

    }

    .explicacion-download p{
        max-width: 300px;
        z-index: 500;

    }


}


/* foote  */


.footer {
    background-color: rgb(0, 34, 88);
    color: whitesmoke;
    text-align: center;
    padding: 20px;

  }
  
  .footer a {
    color: whitesmoke;
    text-decoration: underline;
  }
  
  .footer a:hover {
    color: #ffdf2b;
  }
  